/* src/app/movie-card/movie-card.component.css */

img {
  width: 300px;
  height: auto;
  margin: auto;
}

/* Default styles */

.movie-card-container {
  display: flex;
}

.movie-card {
  flex: 1 1 auto;
  margin: 10px;
}

/* Styles for small screens */
@media (max-width: 599px) {
  .movie-card {
    margin: 5px;
  }
}
